---

interface Props {
    title: string;
}

const { title } = Astro.props;

---


<!-- *********************************************************************  -->
<!-- **********  01/foundation/src/Component/CustomTitle.astro  ********** -->
<!-- *********************************************************************  -->



<h1> { title } </h1>
