---
const navTitle = "Navigation";
---


<span> {navTitle} </span>


<!-- ****************************************************************  -->
<!-- **********  01/foundation/src/Component/NavBar.astro  ********** -->
<!-- ****************************************************************  -->


<!--  -----  Para Desarrollo  -----  -->
<nav>
  <a href="/"> Home Page </a>
  <a href="/about"> About Page </a>
  <a href="/contact--"> Contact Page </a>
</nav>


<!--  -----  Para Producción  -----  -->
<!-- <nav>
  <a href="/astro/01-foundation"> Home Page </a>
  <a href="/astro/01-foundation/about"> About Page </a>
  <a href="/astro/01-foundation/contact"> Contact Page </a>
</nav> -->
