---

//import NavBar from "../Component/NavBar.astro";

interface Props {
  title: string;
  age?: number;
  isActive?: boolean;
}

const { title, age, isActive } = Astro.props;

import '../styles/404.css';

---


<!-- *******************************************************************  -->
<!-- **********  01/foundation/src/layout/Main404.astro  *************** -->
<!-- *******************************************************************  -->


<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title> {title} </title>
  </head>

  <body>
    
    
    <slot />
    
  </body>

  
</html>


